.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#quote-box {
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  background-color: darkslategrey;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6em;
}

#tweet-quote {
  color: black;
  padding: 5px;
  background-color: cyan;
  margin: 0 15px;
  border-radius: 3px;
  font-weight: 600;
  text-decoration: none;
  text-emphasis: none;
}

#new-quote {
  border: 0;
  padding: 5px;
  margin: 0 15px;
  border-radius: 3px;
  background-color: cyan;
  font-weight: 700;
  outline: none;
}

#tweet-quote:hover, #new-quote:hover {
  background-color: darkcyan;
  cursor: pointer;
}

.quote-footer {
  display: flex;
  align-self: start;
  justify-content: space-between;
}

.creator {
  font-size: 0.6em;
}

.red {
  color: red;
}